@using aoWebWallet.Models
@inherits MvvmComponentBase<MainViewModel>
@inject TokenClient TokenClient
@inject ISnackbar Snackbar
@inject ArweaveService ArweaveService

<MudPaper Class="pa-8 mb-4">
    <MudStack Spacing="2">
        <MudButton OnClick="OnExpandCollapseClick">@(_expanded ? "Connect wallet" : "Connect wallet")</MudButton>
        <MudDivider />
        <MudCollapse Expanded="_expanded">

            @if (!BindingContext.HasArConnectExtension.HasValue)
            {
                <MudText>Checking for ArConnect extension...</MudText>
            }
            else if (!BindingContext.HasArConnectExtension.Value)
            {
                <MudLink Href="https://www.arconnect.io/" style="cursor:pointer;">Download ArConnect</MudLink>
            }
            else if (BindingContext.HasArConnectExtension.Value)
            {
                if(string.IsNullOrEmpty(BindingContext.ActiveArConnectAddress))
                {
                <div style="width:100%;">
                     <MudButton style="margin:10px; display:flex; margin-left:auto;"  OnClick="Connect">Connect with ArConnect</MudButton>
                </div>

                }
                else
                {
                    var wallet = BindingContext.WalletList.Data?.Where(x => x.Address == BindingContext.ActiveArConnectAddress).FirstOrDefault();
                    if (wallet == null)
                    {
                    <div style="width:100%;">
                         <MudButton style="margin:10px; display:flex; margin-left:auto;"  OnClick="Connect">Connect with ArConnect</MudButton>
                    </div>

                    }
                    else
                    {
                        <MudText>Already connected with ArConnect</MudText>
                    }
                    @* <MudButton OnClick="Disconnect">Disconnect</MudButton> *@
                }
            }

           @*  @if (!HideAddButton)
            {
                <MudButton Color="Color.Primary" OnClick="Submit">Add</MudButton>
            } *@
        </MudCollapse>
    </MudStack>
</MudPaper>



@code {
    [Parameter]
    public bool HideAddButton { get; set; }

    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }


    public string? Name { get; set; }

    bool _expanded = false;

    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }

    public async Task Connect()
    {
        await BindingContext.GetActiveArConnectAddress();

        if (string.IsNullOrEmpty(BindingContext.ActiveArConnectAddress))
        {
            Snackbar.Add($"Please allow this website access to ArConnect", Severity.Info);
        }
        await ArweaveService.ConnectAsync(new string[] { "ACCESS_ADDRESS", "SIGN_TRANSACTION" }, "aoWebWallet");

        await BindingContext.GetActiveArConnectAddress();

        if (string.IsNullOrEmpty(BindingContext.ActiveArConnectAddress))
        {
            Snackbar.Add($"Access to ArConnect denied", Severity.Error);
        }
        else
        {
            var address = BindingContext.ActiveArConnectAddress;
            var wallet = new Wallet
                {
                    Address = address,
                    Name = "ArConnect",
                    Source = WalletTypes.ArConnect,
                    IsReadOnly = false,
                    AddedDate = DateTimeOffset.UtcNow
                };

            await BindingContext.SaveWallet(wallet);

            Snackbar.Add($"Wallet added ({address})", Severity.Info);

            MudDialog?.Close(true);
        }

    }

    public async Task Disconnect()
    {
        await ArweaveService.DisconnectAsync();

    }

}
