@using aoWebWallet.Models
@inherits MvvmComponentBase<MainViewModel>
@inject TokenClient TokenClient
@inject ArweaveService ArweaveService
@inject ISnackbar Snackbar

<MudPaper Class="pa-8 trigger-transparency">
    <MudStack Spacing="2">

            <MudFocusTrap Disabled="@Disabled" DefaultFocus="@DefaultFocus">
                <MudTextField @bind-Value="Name" Label="Wallet Name" Variant="Variant.Text"></MudTextField>
            </MudFocusTrap>

            <MudText DefaultFocus="DefaultFocus" Color="Color.Secondary">@Progress</MudText>
            <div Class="d-w-100 d-flex justify-center mt-2">
                <MudButton Class="text-transform-none"  Color="Color.Primary" Variant="Variant.Filled" OnClick="Submit">
                    Create AOWW Wallet
                </MudButton>
            </div>
    </MudStack>
</MudPaper>

@code {

    bool Disabled { get; set; } = false;
    DefaultFocus DefaultFocus { get; set; } = DefaultFocus.FirstChild;

    [Parameter]
    public bool HideAddButton { get; set; }

    [CascadingParameter] MudDialogInstance? MudDialog { get; set; } = default!;


    public string? Name { get; set; }
    public string? Progress { get; set; }

    [Parameter]
    public bool IsExpanded { get; set; }

    private void OnExpandCollapseClick()
    {
        IsExpanded = !IsExpanded;
    }

    public async Task<bool> Submit()
    {
        var jwk = await ArweaveService.GenerateWallet();
        var address = await ArweaveService.GetAddress(jwk);

        var wallet = new Wallet
            {
                Address = address,
                Name = Name,
                Jwk = jwk,
                Source = WalletTypes.Generated,
                IsReadOnly = false,
                LastBackedUpDate = null,
                AddedDate = DateTimeOffset.UtcNow
            };

        await BindingContext.SaveWallet(wallet);

        Snackbar.Add($"Wallet added ({address})", Severity.Info);

        if (MudDialog != null)
        {
            MudDialog.Close();
        }
        return true;
    }
}
