@page "/about"
@inherits MvvmComponentBase<MainViewModel>

<PageTitle>About - @Program.PageTitlePostFix</PageTitle>

<MudContainer Class="mt-2 px-8" MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudBreadcrumbs Class="breadcrumbs-aoww" Items="_items"></MudBreadcrumbs>

    <MudPaper Elevation="2" Class="pa-4">
        <MudText Typo="Typo.h5">ao Web Wallet</MudText>
    </MudPaper>

    <MudStack>
        <MudItem xs="12" md="6">
            <MudPaper Elevation="2" Class="pa-4">
                <MudText Align="Align.Left">Open Source web wallet for ao on Arweave</MudText>
                <MudText Align="Align.Left">Created for the Hack the Weave hackathon by <a href="https://twitter.com/michielpostnl" target="_blank" style="text-decoration-line:underline">Michiel Post</a> and <a href="https://twitter.com/2n1u0" target="_blank" style="text-decoration-line:underline">Nuno Lopes</a></MudText>
            </MudPaper>
        </MudItem>
       
        <MudItem xs="12" md="6">
            <MudPaper Elevation="2" Class="pa-4">
                <MudText Align="MudBlazor.Align.Left">
                    <a href="https://github.com/michielpost/aoWebWallet" target="_blank">GitHub</a> |
                    Version: @Program.GetVersionWithoutHash()
                    @if (!string.IsNullOrEmpty(versionHash))
                    {
                        <text>-</text>

                        <a href="https://github.com/michielpost/aoWebWallet/tree/@versionHash" target="_blank">@versionHash</a>
                    }
                </MudText>
                <MudText>
                    Found a bug or have a feature request? Please create an issue on <a href="https://github.com/michielpost/aoWebWallet" target="_blank">GitHub</a>.
                </MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudPaper Elevation="2" Class="pa-4 d-flex flex-column">
                <MudText Typo="Typo.caption" Class="mb-2 ">Contribute to developers address<br/> </MudText>
                <MudText Typo="Typo.caption" Class="d-flex  mb-2 KodeMono">zsXSvJtHVSK4QyPch4Uf0JMiZi9uEhgVvyz6qeEJcfY</MudText>
            </MudPaper>
        </MudItem>
    </MudStack>
</MudContainer>

    @code {

    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Home", href: "/"),
            new BreadcrumbItem("About", href: null, disabled: true)
        };

    string? versionHash = Program.GetVersionHash();
    private string result = DateTimeOffset.UtcNow.ToString();

}
