<div style="height:50px;width:50px;min-height:35px; min-width:35px;">
    <minidenticon-svg username="@Address"></minidenticon-svg>
</div>

@code {

    [Parameter]
    public string? Address { get; set; }
}
